<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href = 'https://img.icons8.com/fluency-systems-filled/ffffff/344/guest-male.png' >
    <link rel = 'stylesheet' href = '../static/css/home.css' >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    <title>aboutMe | Simple Landing Page</title>
</head>
<body>
    <div id = 'container'>
        <div class = 'header'>
            <p id = 'title'>aboutMe</p>
            <p id = 'subtitle'>😎 A simple landing page 🎉</p>
        </div>
        <div id = 'visit'>
            <a href="https://github.com/abhilashmnair/aboutme/" target = "_blank">Click here</a> to know how to get yours!
        </div>
    </div>
</body>
</html>