<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = 'stylesheet' href = '../static/css/index.css' >
    <link rel="icon" type="image/x-icon" href = 'https://img.icons8.com/fluency-systems-filled/ffffff/344/guest-male.png' >
    <title>aboutMe | Simple Landing Page</title>
</head>
<body>
    <div id = 'header'>
        <a>
            <img id = 'profile-picture' src = "https://i.ibb.co/QrV0Ljx/profile-pic.jpg" 
                alt = 'Profile Picture'
                width = '120px'
                height = '120px'/>
        </a>
        <a href = 'https://abhilashmnair.github.io' target="_blank"><h1 id = 'title'>@abhilashmnair</h1></a>
    </div>
    <div class = 'container'>
        <a href = 'https://github.com/abhilashmnair' target = '_blank' id = 'tile'>
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                GitHub
        </a>
        <a href = 'https://instagram.com/abhilashmnair' target = '_blank' id = 'tile'>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                Instagram
        </a>
        <a href = 'https://wa.me/918156923584' target = '_blank' id = 'tile'>
            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                WhatsApp
        </a>
        <a href = 'https://twitter.com/abhilashmnair20' target = '_blank' id = 'tile'>
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                Twitter
        </a>
        <a href = 'https://open.spotify.com/user/31nlsdxvptta5sp2l7gfngqbwmla' target = '_blank' id = 'tile'>
            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i>
                Spotify
        </a>
    </div>
    <footer></footer>
</body>
</html>